html {
    font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    background-color: #00539f; /* Aqui cambiaremos el color de fondo de la pagina */
  }

  body {
    width: 600px; /* cuerpo siempre tendra 600 px de ancho */
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px; /* ancho, largo, margen a la izq */
    border: 5px solid black; /* El remarco negro contenedor */
  }
  

  h1 {
        font-size: 30px;
        margin: 2;
        padding: 20px 0;
        color: #00539f;
        text-shadow: 1px 1px 1px black; /*horizontal, vertical, sombra*/
        
      }
      
  
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  








/* Este directorio contendrá el código CSS que se utiliza para aplicar estilo al contenido 
(por ejemplo, configurar el texto y los colores de fondo). Crea un directorio llamado styles, 
dentro de tu directorio pruebasitio. /*